.ImageGrid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex:1;
  padding:24px 32px 0;
}
.ImageGridContainer{
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
