:root {
  --SingleView-header-height: 48px
}

.SingleView {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;


  &--header {
    display: flex;
    height: var(--SingleView-header-height);
    vertical-align: middle;
    font-size: 18px;
    font-weight: 500;
    flex-direction: row;
    justify-content: center;
    margin: 0 8px;
  }
  &--nav-button {
    width: var(--SingleView-header-height);
    height: var(--SingleView-header-height);
    padding: calc((var(--SingleView-header-height) - 24px) / 2);
    cursor: pointer;
    display: inline-block;
    vertical-align: inherit;
    border-radius:50%;

    & > svg {
      opacity: .87;
      transition: fill 0.25s ease-in-out;
    }
    &:hover > svg {
      fill: var(--accent-color, #03a9f4);
    }
    &[disabled] {
      pointer-events: none;
      & > svg {
        opacity: .25;
      }
      &:hover > svg {
        fill: inherit;
      }

    }
  }

  & .renderArea {
    width: 100%;
    border: 0;
    background: transparent;
    height: calc(100% - var(--SingleView-header-height, 48px));
  }

}

.Responses{
  overflow-y: scroll;

  &--wrapper{
    margin:0 auto;
    max-width:60em;
    min-width:100%;
    min-width: 240px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  &--label{
    font-size: 13px !important;
    color: rgba(0,0,0,.53) !important;
    margin-bottom: 8px;
  }
  &--value{
    font-size: 14px !important;
    font-size: 14px !important;
    color: rgba(0,0,0,.83) !important;
    margin-bottom: 16px;
    font-weight: 500;
  }
  &--pageTitle{
    font-size: 24px !important;
    font-weight: bold;
    color: rgba(0,0,0,.83) !important;
  }
  &--media{
    width:100% !important;
  }

}
