@import "variables.css";
@import "../node_modules/ProportionalImage/src/main.css";
@import "ImageGrid/ImageGrid.css";
@import "SingleView/SingleView.css";

.GridContainer.GridView{
  margin: 0 auto;
}
.GridContainer{
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  overflow:hidden;
}
